# musicOS
# Rockbox theme for iPod Video 5 / 5.5G

# ==================================================
# THEME
# ==================================================

wps: /.rockbox/wps/musicOS_v2_dark.wps
sbs: /.rockbox/wps/musicOS_v2_dark.sbs


# ==================================================
# FONT
# ==================================================

font: /.rockbox/fonts/20-SunghyunSansDisambiguated-SemiBold.fnt


# ==================================================
# COLORS
# ==================================================

foreground color: FFFFFF
background color: 1C1C1E


# ==================================================
# MENU SELECTION
# ==================================================

selector type: bar (color)
line selector start color: F24E61
line selector end color: F24E61
line selector text color: FFFFFF


# ==================================================
# MENU
# ==================================================

show icons: off
scrollbar: right
scrollbar width: 6


# ==================================================
# STATUS BAR
# ==================================================

statusbar: top